@import "tailwindcss";

:root {
  --background: #eeeef1;
  --foreground: #171717;
  --white-color: #FFF;
  --black-color: #353535;
  --gray1-color: #525252;
  --gray2-color: #666;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: var(--background);
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: "Roboto", sans-serif;
}

.btn {
  display: inline-block;
  padding: 0.5rem 2rem;
  border: 0;
  font-weight: 600;
  font-size: 1rem;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  &.btn-primary {
    background-color: #427836;
    color: #FFF;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    &:hover, &:focus, &:active {
      background-color: #356d29;
    }
  }
}

.header {
  background-color: var(--white-color);
  color: var(--gray1-color);
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 9;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
}

.footer {
  background-color: var(--white-color);
  color: var(--gray1-color);

  /* > div {
    line-height: 0;
  } */
  .system-state,
  .system-update {
    font-size: 0.8rem;
    /* line-height: 1; */
  }

  .system-state {
    display: flex;
    align-items: center;

    .indicator-status {
      margin-right: 5px;
      width: 8px;
      height: 8px;
      background-color: #68c74a;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
    }
  }
}

.logo {
  color: #207e62;
  font-weight: bold;
}

.dash-content {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
}

.news-list {
  padding-right: 1rem;
  max-height: 30rem;
  overflow: auto;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background-color: var(--background);
  }
  &::-webkit-scrollbar-thumb {
    /* background-color: #003f5c; */
    background-color: #0d1b2a;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
  }
  /* &::-webkit-scrollbar-thumb:hover {
    background-color: #075477;
  } */
}

.side-power-bi {
  background-color: var(--white-color);
  color: var(--gray1-color);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 3rem;
  min-height: 30rem;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}