@import "tailwindcss";

:root {
  --background-color-primary: #e1e1e1;
  --background-color-secondary: #FFF;
  --background-color-secondary-rgb: 255, 255, 255;
  --background-color-terteary: #F5F5F5;
  --text-color-primary: #353535;
  --text-color-secondary: #525252;
  --text-color-terteary: #666;
  --title-color-primary: #0d1b2a;
  --text-color-kpi: #003f5c;
  --logo-color: #207e62;
  --border-color-primary: #ececec;
  --backdrop-color: 255, 255, 255;
  --box-shadow-primary: 0 3px 3px 0 rgba(0, 0, 0, 0.05);
  --box-shadow-secondary: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
  --box-shadow-terteary: 0 3px 3px 0 rgba(0, 0, 0, 0.2);
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

@media (prefers-color-scheme: dark) {
  :root {

    --background-color-primary: #191e2c;
    --background-color-secondary: #1e2432;
    --background-color-terteary: #272c3d;
    --background-color-secondary-rgb: 30, 36, 50;
    --text-color-primary: #bbb;
    --text-color-secondary: #acacac;
    --text-color-terteary: #9c9c9c;
    /* --title-color-primary: #cecece; */
    --title-color-primary: #e1e1e1;
    --border-color-primary: #2c323f;
    /* --border-color-primary: #272c3d; */
    --text-color-kpi: #bbb;
    --logo-color: #e1e1e1;
    --backdrop-color: 0, 0, 0;
    --box-shadow-primary: 0 3px 3px 0 rgba(255, 255, 255, 0.05);
    --box-shadow-secondary: 0 5px 5px 0 rgba(255, 255, 255, 0.1);
    --box-shadow-terteary: 0 3px 3px 0 rgba(255, 255, 255, 0.2);

    ::-webkit-scrollbar {
      width: 10px;
    }

    ::-webkit-scrollbar-track {
      background: #1a1a1a;
    }

    ::-webkit-scrollbar-thumb {
      background: #444;
      border-radius: 8px;
    }

    ::-webkit-scrollbar-thumb:hover {
      background: #666;
    }
  }
}

.dark {
  --background-color-primary: #191e2c;
  --background-color-secondary: #1e2432;
  --background-color-terteary: #272c3d;
  --background-color-secondary-rgb: 30, 36, 50;
  --text-color-primary: #bbb;
  --text-color-secondary: #acacac;
  --text-color-terteary: #9c9c9c;
  /* --title-color-primary: #cecece; */
  --title-color-primary: #e1e1e1;
  --border-color-primary: #2c323f;
  /* --border-color-primary: #272c3d; */
  --text-color-kpi: #bbb;
  --logo-color: #e1e1e1;
  --backdrop-color: 0, 0, 0;
  --box-shadow-primary: 0 3px 3px 0 rgba(255, 255, 255, 0.05);
  --box-shadow-secondary: 0 5px 5px 0 rgba(255, 255, 255, 0.1);
  --box-shadow-terteary: 0 3px 3px 0 rgba(255, 255, 255, 0.2);

  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    background: #222;
  }

  ::-webkit-scrollbar-thumb {
    background: #525252;
    border-radius: 8px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #666;
  }
}


body {
  background-color: var(--background-color-primary);
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: "Roboto", sans-serif;
}

.btn {
  display: inline-block;
  padding: 0.5rem 2rem;
  border: 0;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 1;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;

  &::before {
    content: "";
    position: absolute;
    opacity: 1;
    z-index: -1;
    transition: all 0.6s ease;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -ms-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
  }

  &.btn-primary {
    background-color: #427836;
    color: #FFF;

    &::before {
      border-style: solid;
      border-width: 0 0 0 0;
      border-color: #0d1b2a transparent transparent transparent;
      /* border-color: #275c1b transparent transparent transparent; */
      top: 0;
      left: 0;
      width: 0;
      height: 0;
    }

    &:hover {
      &::before {
        opacity: 1;
        border-width: 330px 330px 0 0;
      }
    }
  }

  &.btn-secondary {
    background-color: #f0a90e;
    color: #FFF;

    &::before {
      background-color: #0d1b2a;
      /* background-color: #c28400; */
      bottom: 0;
      left: 0;
      right: 0;
      height: 0;
      width: 100%;
    }

    &:hover {
      &::before {
        opacity: 1;
        height: 100%;
      }
    }
  }
}

/* switch settings 👇 */

.ui-switch {
  /* switch */
  --switch-bg: #e1e1e1;
  --switch-width: 48px;
  --switch-height: 20px;
  /* circle */
  --circle-diameter: 32px;
  --circle-bg: #427836;
  --circle-inset: calc((var(--circle-diameter) - var(--switch-height)) / 2);
}

.ui-switch input {
  display: none;
}

.slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: var(--switch-width);
  height: var(--switch-height);
  background-color: var(--switch-bg);
  border-radius: 999px;
  position: relative;
  cursor: pointer;
}

.slider .circle {
  top: calc(var(--circle-inset) * -1);
  left: 0;
  width: var(--circle-diameter);
  height: var(--circle-diameter);
  position: absolute;
  background-color: var(--circle-bg);
  border-radius: inherit;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjAiIHdpZHRoPSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiNmZmYiCiAgICAgICAgZD0iTTkuMzA1IDEuNjY3VjMuNzVoMS4zODlWMS42NjdoLTEuMzl6bS00LjcwNyAxLjk1bC0uOTgyLjk4Mkw1LjA5IDYuMDcybC45ODItLjk4Mi0xLjQ3My0xLjQ3M3ptMTAuODAyIDBMMTMuOTI3IDUuMDlsLjk4Mi45ODIgMS40NzMtMS40NzMtLjk4Mi0uOTgyek0xMCA1LjEzOWE0Ljg3MiA0Ljg3MiAwIDAwLTQuODYyIDQuODZBNC44NzIgNC44NzIgMCAwMDEwIDE0Ljg2MiA0Ljg3MiA0Ljg3MiAwIDAwMTQuODYgMTAgNC44NzIgNC44NzIgMCAwMDEwIDUuMTM5em0wIDEuMzg5QTMuNDYyIDMuNDYyIDAgMDExMy40NzEgMTBhMy40NjIgMy40NjIgMCAwMS0zLjQ3MyAzLjQ3MkEzLjQ2MiAzLjQ2MiAwIDAxNi41MjcgMTAgMy40NjIgMy40NjIgMCAwMTEwIDYuNTI4ek0xLjY2NSA5LjMwNXYxLjM5aDIuMDgzdi0xLjM5SDEuNjY2em0xNC41ODMgMHYxLjM5aDIuMDg0di0xLjM5aC0yLjA4NHpNNS4wOSAxMy45MjhMMy42MTYgMTUuNGwuOTgyLjk4MiAxLjQ3My0xLjQ3My0uOTgyLS45ODJ6bTkuODIgMGwtLjk4Mi45ODIgMS40NzMgMS40NzMuOTgyLS45ODItMS40NzMtMS40NzN6TTkuMzA1IDE2LjI1djIuMDgzaDEuMzg5VjE2LjI1aC0xLjM5eiIgLz4KPC9zdmc+");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  -o-transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  ;
}

.slider .circle::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.75);
  border-radius: inherit;
  -webkit-transition: all 500ms;
  -o-transition: all 500ms;
  transition: all 500ms;
  opacity: 0;
}

/* actions */

.ui-switch input:checked+.slider .circle {
  left: calc(100% - var(--circle-diameter));
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjAiIHdpZHRoPSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiNmZmYiCiAgICAgICAgZD0iTTQuMiAyLjVsLS43IDEuOC0xLjguNyAxLjguNy43IDEuOC42LTEuOEw2LjcgNWwtMS45LS43LS42LTEuOHptMTUgOC4zYTYuNyA2LjcgMCAxMS02LjYtNi42IDUuOCA1LjggMCAwMDYuNiA2LjZ6IiAvPgo8L3N2Zz4=");
}

.ui-switch input:active+.slider .circle::before {
  -webkit-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
  opacity: 1;
  width: 0;
  height: 0;
}

.menu-hamburger {
  width: 28px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 5px;

  span {
    height: 3px;
    width: 100%;
    background: var(--text-color-primary);
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
  }
}



.header {
  background-color: var(--background-color-secondary);
  color: var(--text-color-secondary);
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 9;
  box-shadow: var(--box-shadow-secondary);

  .backdrop {
    background-color: rgba(var(--backdrop-color), 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    z-index: 9;
    backdrop-filter: blur(10px);
    opacity: 0;
    visibility: hidden;
    transition: all 0.6s ease;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -ms-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;

    &.show-backdrop {
      opacity: 1;
      visibility: visible;
    }
  }

  .nav-list {
    @media(max-width: 991px) {
      position: fixed;
      top: 0;
      left: -100%;
      width: 65dvw;
      height: 100dvh;
      display: flex;
      flex-direction: column;
      padding: 2rem 1.5rem;
      z-index: 10;
      opacity: 0;
      visibility: hidden;
      transition: all 0.6s ease-in;
      -webkit-transition: all 0.6s ease-in;
      -moz-transition: all 0.6s ease-in;
      -ms-transition: all 0.6s ease-in;
      -o-transition: all 0.6s ease-in;

      &.show-nav-list {
        left: 0;
        opacity: 1;
        visibility: visible;
      }

      .title-menu-navigation {
        font-weight: 300;
        font-size: 1.250rem;
        margin-bottom: 1rem;
      }

      .logo-content {
        position: absolute;
        bottom: 2rem;
        left: 1.5rem;
      }
    }

    .nav-item {
      font-weight: 500;
      position: relative;
      transition: color 0.3s ease;
      -webkit-transition: color 0.3s ease;
      -moz-transition: color 0.3s ease;
      -ms-transition: color 0.3s ease;
      -o-transition: color 0.3s ease;

      &::after {
        content: "";
        position: absolute;
        top: calc(100% + 1rem);
        left: 0;
        width: 0;
        height: 5px;
        background-color: #427836;
        opacity: 0;
        visibility: hidden;
        border-radius: 50px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        -ms-border-radius: 50px;
        -o-border-radius: 50px;
        transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;

        @media(max-width: 991px) {
          top: calc(100% + 0.5rem);
        }
      }

      &:hover,
      &.active-nav-item {
        color: #427836;

        &::after {
          opacity: 1;
          visibility: visible;
          width: 100%;
        }
      }
    }
  }

  .text-system {
    font-size: 0.875rem;
  }
}



.footer {
  background-color: var(--background-color-secondary);
  color: var(--text-color-secondary);
  box-shadow: var(--box-shadow-secondary);

  .system-state,
  .system-update {
    font-size: 0.8rem;
    /* line-height: 1; */
  }

  .system-state {
    display: flex;
    align-items: center;
    justify-content: center;

    .indicator-status {
      margin-right: 5px;
      width: 8px;
      height: 8px;
      background-color: #68c74a;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      animation: pulseColor 3s ease-in-out infinite;
      -webkit-animation: pulseColor 3s ease-in-out infinite;
    }
  }
}

.logo {
  font-size: 1.250rem;
  color: var(--logo-color);
  font-weight: 300;
  text-align: center;
  line-height: 1.2;

  span {
    font-weight: 700;
  }

  .copy {
    color: var(--gray2-color);
    font-weight: 300;
    font-size: 0.75rem;
  }
}

/* .dash-content {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
} */



.side-power-bi {
  /* margin-top: 3rem; */
  background-color: var(--white-color);
  /* padding: 1rem; */
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;

  iframe {
    width: 100%;
    height: 20rem;
    border: 0;

    @media(min-width: 1200px) {
      height: 33rem;
    }
  }
}

.documentation-content {
  background-color: var(--background-color-secondary);
  /* padding: 1rem; */
  box-shadow: var(--box-shadow-primary);
  overflow: hidden;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;

  .title-documentation {
    background-color: var(--background-color-terteary);
    padding: 0.5rem 1rem;
    color: var(--text-color-primary);
    font-size: 1.250rem;
    font-weight: 700;
    border-bottom: 1px solid var(--border-color-primary);
  }
}

.accordion-item {
  min-height: 55px;
  max-height: 55px;
  color: var(--text-color-secondary);
  border-bottom: 1px solid var(--border-color-primary);
  font-size: 0.875rem;
  transition: all 0.6s ease;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;

  &:last-child {
    border-color: transparent;
  }

  summary {
    cursor: pointer;
    font-weight: 600;
    padding: 1rem;
    list-style: none;

    &::-webkit-details-marker {
      display: none;
    }

    &::after {
      content: "▾";
      font-size: 1.125rem;
      color: #427836;
      float: right;
      transition: transform 0.3s ease;
      -webkit-transition: transform 0.3s ease;
      -moz-transition: transform 0.3s ease;
      -ms-transition: transform 0.3s ease;
      -o-transition: transform 0.3s ease;
    }
  }

  .accordion-body {
    padding-top: 0;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;

    p {
      font-size: 0.8rem;
      color: var(--text-color-terteary);
    }

    .btn {
      font-size: 0.75rem;
      padding: 0.5rem 1rem;
    }
  }

  &[open] {
    min-height: auto;
    max-height: 100dvh;

    summary {
      &::after {
        transform: rotate(-180deg);
        -webkit-transform: rotate(-180deg);
        -moz-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
        -o-transform: rotate(-180deg);
      }
    }
  }
}

.news-and-embedded {
  background-color: var(--background-color-secondary);
  padding: 1rem;
  box-shadow: var(--box-shadow-primary);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;

  h2 {
    font-size: 1.250rem;
    color: var(--text-color-primary);
    font-weight: 300;
    margin-bottom: 1rem;
  }
}


.news-list {
  display: flex;
  overflow: auto;
  gap: 0.5rem;
  padding-bottom: 1rem;

  @media(min-width: 1200px) {
    padding-bottom: 0;
    flex-direction: column;
    padding-right: 1rem;
    max-height: 30rem;
  }
}





@keyframes pulseColor {
  0% {
    opacity: 0;
    visibility: hidden;
  }

  25% {
    opacity: 1;
    visibility: visible;
  }
}