@import "tailwindcss";

:root {
  --background: #eeeef1;
  --foreground: #171717;
  --white-color: #FFF;
  --black-color: #353535;
  --gray1-color: #525252;
  --gray2-color: #666;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: var(--background);
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: "Roboto", sans-serif;
}

.btn {
  display: inline-block;
  padding: 0.5rem 2rem;
  border: 0;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 1;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  &::before {
    content: "";
    position: absolute;
    opacity: 0;
    z-index: -1;
    transition: all 0.6s ease;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -ms-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
  }
  &.btn-primary {
    background-color: #427836;
    color: #FFF;
    &::before {
      border-style: solid;
      border-width: 0 0 0 0;
      border-color: #0d1b2a transparent transparent transparent;
      /* border-color: #275c1b transparent transparent transparent; */
      top: 0;
      left: 0;
      width: 0;
      height: 0;
    }
    &:hover {
      &::before {
        opacity: 1;
        border-width: 330px 330px 0 0;
      }
    }
  }

  &.btn-secondary {
    background-color: #f0a90e;
    color: #FFF;
    &::before {
      background-color: #0d1b2a;
      /* background-color: #c28400; */
      bottom: 0;
      left: 0;
      right: 0;
      height: 0;
      width: 100%;
    }
    &:hover {
      &::before {
        opacity: 1;
        height: 100%;
      }
    }
  }
}

.header {
  background-color: var(--white-color);
  color: var(--gray1-color);
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 9;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
}

.footer {
  background-color: var(--white-color);
  color: var(--gray1-color);
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);

  .system-state,
  .system-update {
    font-size: 0.8rem;
    /* line-height: 1; */
  }

  .system-state {
    display: flex;
    align-items: center;
    justify-content: center;

    .indicator-status {
      margin-right: 5px;
      width: 8px;
      height: 8px;
      background-color: #68c74a;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      animation: pulseColor 3s ease-in-out infinite;
      -webkit-animation: pulseColor 3s ease-in-out infinite;
    }
  }
}

.logo {
  font-size: 1.250rem;
  color: #207e62;
  font-weight: 300;

  span {
    font-weight: 700;
  }
}

.dash-content {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
}

.news-list {
  padding-right: 1rem;
  max-height: 30rem;
  overflow: auto;


}

.side-power-bi {
  /* margin-top: 3rem; */
  background-color: var(--white-color);
  /* padding: 1rem; */
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;

  iframe {
    width: 100%;
    height: 33rem;
    border: 0;
  }
}

.documentation-content {
  background-color: var(--white-color);
  /* padding: 1rem; */
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;

  .title-documentation {
    background-color: #F5F5F5;
    padding: 0.5rem 1rem;
    color: var(--black-color);
    font-size: 1.250rem;
    font-weight: 700;
    border-bottom: 1px solid #ececec;
  }
}

.accordion-item {
  color: var(--gray1-color);
  border-bottom: 1px solid #ececec;
  font-size: 0.875rem;

  &:last-child {
    border-color: transparent;
  }

  summary {
    cursor: pointer;
    font-weight: 600;
    padding: 1rem;
    list-style: none;

    &::-webkit-details-marker {
      display: none;
    }

    &::after {
      content: "▾";
      font-size: 1.125rem;
      color: #427836;
      float: right;
      transition: transform 0.3s ease;
      -webkit-transition: transform 0.3s ease;
      -moz-transition: transform 0.3s ease;
      -ms-transition: transform 0.3s ease;
      -o-transition: transform 0.3s ease;
    }
  }

  &[open] {
    summary {
      &::after {
        transform: rotate(-180deg);
        -webkit-transform: rotate(-180deg);
        -moz-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
        -o-transform: rotate(-180deg);
      }
    }
  }

  .accordion-body {
    padding-top: 0;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;

    p {
      font-size: 0.8rem;
      color: var(--gray2-color);
    }

    .btn {
      font-size: 0.75rem;
      padding: 0.5rem 1rem;
    }
  }
}

.news-and-embedded {
  background-color: var(--white-color);
  padding: 1rem;
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;

  h2 {
    font-size: 1.250rem;
    /* color: var(--black-color); */
    color: #0d1b2a;
    font-weight: 300;
    margin-bottom: 1rem;
  }
}

/* .accordion-item p {
  margin-top: 12px;
  color: #555;
}

.accordion-item p {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease, opacity 0.2s ease;
  opacity: 0;
}

.accordion-item[open] p {
  max-height: 200px;
  opacity: 1;
} */




@keyframes pulseColor {
  0% {
    opacity: 0;
    visibility: hidden;
  }

  25% {
    opacity: 1;
    visibility: visible;
  }
}