.newsItem {
    flex: 0 0 85%;
    background-color: var(--white-color);
    /* background-position: bottom center; */
    background-position: 25px center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 1rem;
    min-height: 10rem;
    box-shadow: var(--box-shadow-secondary);
    cursor: pointer;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    margin-bottom: 0.5rem;
    @media(min-width: 1200px) {
        flex: 0 0 100%;
    }
}


.categoryNewsItem {
    background-color: var(--black-color);
    color: #FFF;
    text-transform: uppercase;
    display: inline-block;
    padding: 0.125rem 0.5rem;
    font-size: 0.75rem;
    font-weight: 600;
    margin-bottom: 1rem;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    &.price {
        background-color: #427836;
    }
    &.health {
        background-color: #1479b3;
    }
    &.trade {
        background-color: #ab382e;
    }
}

.titleNewsItem {
    font-size: 1.125rem;
    color: var(--title-color-primary);
    font-weight: 700;
    max-width: 70%;
    margin-bottom: 1rem;
    line-height: 1.2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

.timeNewsItem {
    font-size: 0.875rem;
    font-weight: 400;
    color: var(--text-color-secondary);
}
